body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #440465;
}

.o-btn{
  position: relative;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    line-height: 1.5;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    font-weight: 400;
    flex-wrap: nowrap;
}

.o-btn-primary{
  background-color: #690a9a;
  color: white;
}
.o-btn-primary:hover{
  background-color: #440465;
  color: white;
}

.o-btn-danger{
    background-color: rgb(194, 3, 3);
    color: white;
}
.o-btn-danger:hover{
  background-color: rgb(151, 3, 3);
  color: white;
}

form{
  max-width: 300px;
}

.u-mb-3{
  margin-bottom: 2rem;
}

.o-form-group{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.o-form-control{
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
}

.o-form-control:hover, .o-form-control:focus, .o-form-control:active{
  border-color: #440465;
  outline: none;
}

.o-btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  max-width: 600px;
  border-collapse: collapse;
  background-color: var(--brand-light);
}

table th{
  background-color: #444;
  color: white;
}

table th, td {
    text-align: left;
    padding: 1rem;
}

table tbody tr:nth-child(odd) {
    background-color: #ccc;
}
    
table tbody tr:nth-child(even) {
    background-color: white;
}

.book-delete{
  border-top: 1px solid #444;
  padding: 1rem 0;
  margin-top: 2rem;
}

.error{
  color:rgb(194, 3, 3)
}

ul.error{
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

ul.error li{
  margin-bottom: 0.5rem;
}